# Core dependencies
flask==3.1.1
flask-cors>=3.0.0
gunicorn==21.2.0
python-dotenv==1.1.0

# Diabetes Companion dependencies
langchain==0.3.25
langchain-huggingface==0.2.0
langchain-community==0.3.24
langchain-groq==0.3.2
transformers==4.43.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.1.0+cpu
scikit-learn==1.6.1
numpy==1.26.4
sentence-transformers==2.6.1
faiss-cpu==1.11.0
langdetect==1.0.9
deep-translator==1.11.4

# PID-NN dependencies
pandas==2.2.0
tensorflow-cpu==2.15.0
matplotlib==3.10.0
control==0.10.1
xmltodict==0.14.2

# Platform specific
--platform manylinux2014_x86_64
--only-binary=:all: 